.working{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 616px;
    background: #ECECEC;
}
.working__container{
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 95px;
    box-shadow: 2px 10px 30px 10px #00000026;
}
.working__title{
    margin: 56px auto 64px auto;
    width: 742px;
    height: 104px;
    font-size: 40px;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
}
.working__subcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 1000px;
    height: 303px;
}
.working__slider{
    display: flex;
    width: 487px;
    height: 303px;
}
.working__textcontainer{
    margin:0;
    margin-top: -25px;
    height: 303px;
    display: flex;
    width: 437px;
    flex-direction: column;
}
.working__textcontainer-text{
    display: flex;
    font-size: 20px;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: left;
}
.working__list{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70px;
}
.working__list-item{
    display: flex;
    flex-direction: row;
    height: max-content;
}
.working__list-text{
    margin: 5px 0;
    height: max-content;
}
.working__list-image{
    margin-top: 5px;
    margin-right: 11px;
    width: 14px;
    height: 14px;
    background-image: url("../../images/icon_min.svg");
}
.working__button{
    margin-top: 60px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 216px;
    height: 49px;
    background: var(--yellow);
    box-shadow: 0 8px 8px 0 #dece40;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 800;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    border: none;
    transition: background-color 0.3s ease; /* Измените transition на background-color */
}

.working__button:hover {
    background-color: #dece40; /* Затемненный цвет фона при наведении */
}
@media screen and (max-width: 1140px) {
    .working__container{
        margin-top: 280px;
       min-height: 880px;
    }
    .working__button{
        margin-top: 40px;
    }

    .working__subcontainer{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .working__slider{
        margin: 0 auto;
        object-fit: contain; /* Масштабирует изображение, сохраняя пропорции, и помещает его в контейнер */

    }
    .working__slider > * {
        max-width: 100%; /* Максимальная ширина элемента будет 100% относительно родительского элемента */
        height: auto; /* Высота элемента будет автоматически подстраиваться под ширину */
        object-fit: contain; /* Масштабирует изображение, сохраняя пропорции, и помещает его в контейнер */
    }
    .working__textcontainer{
        margin-top: 20px;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 800px) {
   .working__title{
       width: 100%;
   }

}
@media screen and (max-width: 800px) {
    .working__slider{
        display: none;
    }
    .working__container{
        border-radius: 25px;
        margin-top: 30px;
        min-height: 600px;
    }
    .working__title{
        width: 100%;
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 0;

    }
    .working__textcontainer-text{
        width: 90vw;
        text-align: left;
    }
    .working__list{
        width: 90vw;
    }
    .working__list-text{
        text-align: left;
    }
    .working__button{
        margin-top: 70px;
    }
    .working__textcontainer{
        width: 80%;
    }
}
