.megacontent{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1800px;
    background: #ECECEC;
    position: relative;
}
.believe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 627px;
}
.believe__container{
    margin-left: 73px;
    display: flex;
    width: 670px;
    height: 446px;
    flex-direction: column;
    justify-content: space-between;
    background: #ECECEC;
}
.believe__title{
    display: flex;
    margin: 0;
    width: 668px;
    height: max-content;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
}
.believe__image{
    display: flex;
    width: 280px;
    height: 541px;
    margin-top: 28px;
    margin-right: 84px;
    background-image: url("../../images/foto (2).png");
    background-size: cover;

}
.believe__container-text{
    width: 498px;
    height: 119px;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: -0.02em;
    text-align: left;

}
.believe__list{
    display: flex;
    flex-direction: row;
}
.believe__container-image{
    margin-top: 15px;
    margin-right: 20px;
   width: 58px;
    height: 58px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../images/icon (1).svg");
}
.believe__container-description{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 665px;
    height: 129px;
    border-radius: 32px;
    background: var(--yellow);
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: center;

}

.price{
    display: flex;
    width: 100%;
    height: 649px;
    background: #ECECEC;
    flex-direction: column;
}
.price__container{
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 95px;
    box-shadow: 2px 10px 30px 10px #00000026;
    z-index: 2;
}
.price__title{
    margin: 56px auto 36px auto;
    width: 742px;
    height: 104px;
    font-size: 40px;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
}
.price__subtitle{
    margin: 0 auto 36px auto;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
}
.price__subcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 929px;
    height: 303px;
}
.price__slider{
    margin-top: -10px;
    display: flex;
    width: 541px;
    height:462px;
    background-image: url("../../images/foto (3).png");
}
.price__textcontainer{
    margin:0;
    margin-top: -25px;
    height: 303px;
    display: flex;
    width: 437px;
    flex-direction: column;
}
.price__textcontainer-text{
    display: flex;
    font-size: 20px;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: left;
}

.price__list{
    padding: 0;
    margin: 0;
    margin-left: 70px;
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    width: 365px;
    text-align: left;
    height: 70px;
}
.price__list-item{
    display: flex;
    flex-direction: row;
    height: max-content;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: left;

}
.price__list-text{
    margin: 5px 0;
    height: max-content;
}
.price__list-image{
    display: flex;
    margin-top: 10px;
    margin-right: 11px;
    min-width: 14px;
    height: 14px;
    background-image: url("../../images/icon_min.svg");
}
.price__button{
    margin-top: 200px;
    margin-left: 92px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 216px;
    height: 49px;
    background: var(--yellow);
    box-shadow: 0 8px 8px 0 #dece40;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 800;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    border: none;
    transition: background-color 0.3s ease; /* Измените transition на background-color */
}

.price__button:hover {
    background-color: #dece40; /* Затемненный цвет фона при наведении */
}
.warranty{
    display: flex;
    position: absolute;
    width: 100%;
    height: 700px;
    bottom: 0;
    left: 0;
    background: var(--yellow);
    z-index: 1;
}

.warranty__title{
    width: 678px;
    margin-top: 300px;
    margin-left: 74px;
    font-size: 42px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;

}
.warranty__span{
    font-weight: 800;
}
.warranty__warranty{
    margin-top: 10px;
    margin-left: 74px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-direction: row;
    top:426px;
    left:0;
    width: 100%;
    max-height: 218px;
    color: #fff;
}

.warranty__warranty-item{
    padding: 0;
    margin: 0px auto 50px auto;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 168px;
}
.warranty__text{
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.02em;
    text-align: left;
    margin: 0;

}
.warranty__img1{
    width: 62px;
    height: 62px;
    margin-bottom: 8px;
    background-image: url("../../images/icon 1_white.svg");
}
.warranty__img2{
    width: 62px;
    height: 62px;
    margin-bottom: 8px;
    background-image: url("../../images/icon 2_white.svg");
}
.warranty__img3{
    width: 51px;
    height: 69px;
    margin-bottom: 8px;
    background-image: url("../../images/icon 3_white.svg");
}

@media screen and (max-width: 1140px) {
    .believe{

    }
    .megacontent{
        margin-top: 330px;
        width: 100%;
    }
    .price__container{
        height: max-content;
        align-items: center;
    }
    .price__subcontainer{
        flex-direction: column;
        height: 700px;
        justify-content: start;
        align-items: center;
        width: 100%;
    }
    .warranty__warranty{
        margin-top: 150px;
        background: var(--yellow);
        min-height: 280px;
        margin-left: 0;
    }
    .warranty__warranty-item{
        width: 250px;
       justify-content: space-between;
        height: max-content;
    }
    .believe{
        flex-direction: column;
        align-items: center;
        height: max-content;
    }
    .believe__image{
        margin-right: 0;
    }
    .believe__title{
        margin-top: 30px;
    }
    .price__textcontainer{
        align-items: center;
        width: max-content;
        margin-top: 30px;
    }
    .price__list{
        margin: 0;
    }
    .price__button{
        margin-left: 0;
    }
}
@media screen and (max-width: 800px) {
    .believe{
        width: 100%;
        height: 1000px;
    }
    .believe__container{
        width: 100%;
        margin: 0;
    }
    .believe__title{
        width: 80%;
        line-height: 35px;
        margin: 20px auto;
    }
    .believe__container-description{
        width:80%;
        font-size: 20px;
        margin: 50px auto;
        padding: 20px;
    }
    .believe__image{
        height: 430px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center ;
    }
    .megacontent{
        margin-top: 650px;
        height: 2300px;
    }
    .price__container{
        border-radius: 25px;
        margin-top: 50px;
    }
    .price__title{
        width: 80%;
        margin: 50px auto;
        font-size: 30px;
        line-height: 35px;
    }
    .warranty__title{
        margin: 0 auto;
        margin-top: 450px;
        height: max-content;
        font-size: 30px;
        width: 80%;
        line-height: 35px;
    }
    .warranty__warranty{
        margin: 0;
        width: 100%;
    }
    .warranty__text{
        font-size: 14px;
    }
    .price__slider{
        background-position: center;
        width: 80%;
        background-size: contain;
        background-repeat: no-repeat;
        height: 300px;
    }
    .price__list-text{

        font-size: 16px;
    }
    .price__textcontainer{
        width: 80%;
    }
    .price__list{
        width: 100%;
    }
    .price__button{
        margin-top: 180px;
    }
}