.problems{
    display: flex;
    width: 100%;
    height: 1700px;
    background: #FFF;
    flex-direction: column;
}

.problems__title{
    margin-top: 170px;
    margin-left: 74px;
    display: flex;
    width: 766px;
    height: max-content;
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;

}
.problems__description{
    margin: 41px auto;
    display: flex;
    width: 752px;
    min-height: 171px;
    flex-direction: column;
    border-radius: 21px;
    background: var(--yellow);
}
.problems__description-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 14px;
    color: #fff;
}
.problems__description-subtitle{
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;

}
.problems__container{
    display: flex;
    width: 100%;
    margin-top: 41px;
    height: 171px;
}
.problems__container-left{
    margin-left: 67px;
    margin-right: 27px;
    width: 500px;
}
.problems__container-right{
    margin-right: 67px;
}
.problems__list{
    display: flex;
    width: 500px;
    height: 292px;
    flex-direction: column;
    font-size: 15px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}
.problems__container-text{
    display: flex;
    width: 458px;
    margin-left: 40px;
    height: max-content;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.problems__list-item{
    display: flex;
    flex-direction: row;
}
.problems__list-image{
    margin-top: 3px;
    margin-right: 16px;
    width: 26px;
    height: 26px;
    background-image: url("../../images/Union.svg");
    box-shadow: 0px 4px 4px 0px #00000040;
}
.problems__container-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 510px;
    height: 700px;
}
.problems__container-image{
    display: flex;
    margin-top: -20px;
    width: 510px;
    height: 361px;
}
.problems-background1{
    background-image: url("../../images/foto.png");
}
.problems-background2{
    background-image: url("../../images/foto1.png");
}
.problems-background3{
    background-image: url("../../images/foto2.png");
}
.problems-background4{
    background-image: url("../../images/foto3.png");
}

.problems-background5{
    background-image: url("../../images/pc.png");
}
.problems__form{
    margin: 650px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 752px;
    height: 186px;
    background: #FFF;
    border-radius: 15px;
    box-shadow: 0px 4px 25px 0px #00000059;

}
.problems__form-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.problems__form-text{
    display: flex;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;

}
.problems__form-subtext {
    display: flex;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;


}
.problems__form-input{
    display: flex;
    width: 328px;
    height: 58px;
    border: none;
    border-radius: 39px;
    padding: 0 0 0 29px;
    margin: 14px 16px 30px 68px;
}
.problems__form-button{
    margin-top: 14px;
    margin-right: 18px;
    padding-top: 0px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 261px;
    height: 58px;
    background: var(--yellow);
    box-shadow: 0 8px 8px 0 #dece40;
    border-radius: 25px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    letter-spacing: -0.02em;
    transition: background-color 0.3s ease; /* Измените transition на background-color */
    font-weight: 800;
    line-height: 23px;
}

.problems__form-button:hover {
    background-color: #dece40; /* Затемненный цвет фона при наведении */
}
.problems__form-span {
    font-weight: 800;
}

@media screen and (max-width: 1140px) {

    .problems{
        height: 2000px;
    }
    .problems__title{
        margin-left: 80px;
        width: 80%;
    }
    .problems__container {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .problems__container-right{
        width: 100%;
    }
    .problems__container-image {
        margin: 0 auto;
margin-top: 400px;
    }
    .problems__form {
        margin-top: 1000px;
    }
    }
@media screen and (max-width: 800px) {
    .problems{
        margin-top: 100px;
    }
    .problems__description{
        width: 80%;
        font-size: 20px;
        min-height: max-content;
    }
    .problems__list{
        max-width: 100%;
    }
    .problems__list-item{
        max-width: 80%;
    }
    .problems__container-image{
        margin-top: 700px;

    }
    .problems__container-text{
        width: 80%;
        text-align: center;
    }
    .problems__container-left{
        width: 90%;
        margin: 0 auto;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .problems__form{
        width: 80%;
        margin: 0 auto;
        margin-top: 1200px;

    }
    .problems__form-input{
        width: 50%;
        margin-left: 10px;
    }
    .problems__form-button{
        width: 50%;

    }
    .problems__form-container{
        display: flex;
        justify-content: space-between;
    }

}
@media screen and (max-width: 550px) {
    .problems__container-right{
        margin-right: 0;
    }
    .problems{
        margin-top: 300px;
    }
    .problems__list-item{
        font-size: 10px;
    }
    .problems__description{
        width: 80%;
        font-size: 16px;
    }
    .problems__title{
        font-size: 28px;
        line-height: 35px;
        margin-top: 190px;
        width: 70vw;
    }
    .problems__form-text{
        margin-top: 0;
        font-size: 18px;
    }
    .problems__form-input{
        width: 70%;
        margin: 20px auto;

    }
    .problems__form-subtext{
        margin: 0;
        margin-top: 40px;
    }
    .problems__form-button{
        width: 80%;
        margin: 0 auto;
    }
    .problems__form{
        margin-top: 1070px;
        min-height: 350px;
    }
    .problems__form-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .problems__container-image{
        margin: 0 auto;
        margin-top: 600px;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }
}