.companies{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1000px;
    background: #ECECEC;
}
.companies__title{
    margin: 56px auto 20px auto;
    width: 742px;
    height: 50px;
    font-size: 40px;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
}
.companies__subtitle{
    margin: 0 auto 36px auto;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
}
.companies__image{
    margin-left: 20px;
    margin-bottom: 58px;
    width: 800px;
    min-height: 160px;
    background-image: url("../../images/companies.png");
    background-size: cover;
}

.companies__slider{
    display: flex;
    width: 752px;
    height: 430px;
}

.ompanies__button{
    margin-top: 54px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 216px;
    height: 49px;
    background: var(--yellow);
    box-shadow: 0 8px 8px 0 #dece40;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 800;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    border: none;
    transition: background-color 0.3s ease; /* Измените transition на background-color */
}

.ompanies__button:hover {
    background-color: #dece40; /* Затемненный цвет фона при наведении */
}

@media screen and (max-width: 1140px) {
    .companies{
        margin-top: 250px;
    }
    .companies__image{
        width: calc(100% - 25px);
    }

}
@media screen and (max-width: 800px) {

    .companies__slider {
        display: none;

    }
}
@media screen and (max-width: 800px) {
    .companies{
        height: max-content;
        margin-top: 0;
    }

    .companies__title{
        margin-top: 50px;
        margin-bottom: 80px;
        width: 100%;
    }
    .companies__image{
        width: 80%;
        max-height: none; /* Удаляет максимальную высоту изображения */
        height: auto; /* Высота изображения будет автоматически подстраиваться под ширину */
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 0;
    }
    .companies__subtitle{
        display: none;
    }
    .ompanies__button{
        margin-top: -50px;
    }
}
