.contactsPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1500px;
    position: relative;
}
.contactsPage__list-link{
    display: block;
    width: 100%;
    height: 100%;
}
.contacts__row{
margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contacts__col{
    margin-right: 20px;
    max-width: 350px;
display: flex;
    flex-direction: column;
}

.contactsPage__title{
    margin-top: 52px;
    margin-bottom: 0;
    margin-left: 71px;
    align-self: flex-start;
    display: flex;
    width: 424px;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
}
.contactsPage__map{
    margin-top: 34px;
    display: flex;
    width: 1000px;
    height: 540px;
    border-radius: 15px;
    box-shadow: 0px 15px 20px 0px #00000040;

}
.contactsPage__text{
    width: 80%;
    max-width: 1000px;
    margin-top: 52px;
    margin-left: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}
.contactsPage__text p{
    display: flex;
    margin: 0;
}
.contactsPage__text span{
    font-weight: 800;
}



.contactsPage__form{
    display: flex;
    position: absolute;
    bottom: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 46px;
    margin-left: 55px;
    width: 752px;
    height: 158px;
    background: #FFF;
    border-radius: 15px;
    box-shadow: 0px 4px 25px 0px #00000059;

}
.contactsPage__form-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.contactsPage__form-text{
    display: flex;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: center;

}
.contactsPage__form-input{
    display: flex;
    width: 326px;
    height: 58px;
    border: none;
    border-radius: 39px;
    padding: 0 0 0 29px;
    margin: 14px 16px 30px 24px;
}
.contactsPage__form-button{
    margin-top: 14px;
    margin-right: 18px;
    padding-top: 0px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 322px;
    height: 58px;
    background: var(--yellow);
    box-shadow: 0 8px 8px 0 #dece40;
    border-radius: 25px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
    letter-spacing: -0.02em;
    font-weight: 800;
    transition: background-color 0.3s ease; /* Измените transition на background-color */
}

.contactsPage__form-button:hover {
    background-color: #dece40; /* Затемненный цвет фона при наведении */
}
.contactsPage__list-bottom{
    margin-top: 35px;
    margin-left: 30px;
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    list-style-type: none;
    width: 250px;
    justify-content: space-between;
}

.contactsPage__list_telegram{
    width: 43px;
    height: 43px;
    background-image: url("../../images/telegram.svg");
    background-size: cover;
    background-position: center;
}
.contactsPage__list_whatsapp{
    width: 50px;
    height: 51px;
    margin-top: -5px;
    background-image: url("../../images/whatsapp.svg");
    background-size: cover;
    background-position: center;

}
.contactsPage__list_vk{
    width: 50px;
    height: 42px;
    background-image: url("../../images/vk.svg");
    background-size: cover;
    background-position: center;


}
.contactsPage__list_youtube{
    width: 55px;
    height: 33px;
    margin-top: 5px;
    background-image: url("../../images/youtube.svg");
    background-size: cover;
    background-position: center;


}

@media screen and (max-width: 1140px) {

  .contactsPage__map{
      width: 80%;
      margin: 0;
  }
    .contactsPage__form{
        width: 80%;
        margin: 0;
    }
}
@media screen and (max-width: 800px) {
    .contacts__row{
        width: 80%;
        margin: 0;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contacts__col {
        margin: 0;
        margin-bottom: 30px;
    }
    .contactsPage{
        height: 1900px;
    }
    }

@media screen and (max-width: 550px) {
    .contactsPage{
        height: 1930px;
    }
    .contactsPage__title{
        margin: 10px auto;
        width: max-content;
        font-size: 40px;
        line-height: 35px;
    }
    .contactsPage__text{
        width: 80%;
        margin: 20px auto;
    }
    .contactsPage__list-bottom{
        width: 80%;
        margin: 0;
    }
    .contactsPage__form{
        width: 80%;
        display: flex;
        flex-direction: column;
        height: max-content;
    }
    .contactsPage__form-container{
        display: flex;
        flex-direction: column;
    }
    .contactsPage__form-input{
        width: 80%;
        margin: 10px auto;
    }
    .contactsPage__form-button{
        width: 90%;
        margin: 10px auto;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 400px) {
    .contactsPage{
        height: 2000px;
    }
}