.firstAbout{
    display: flex;
    position: relative;
    margin: 0;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: top;
}
.firstAbout__title-container{
    margin-top: 76px;
    display: flex;
    width: 424px;
    height: 87px;
    margin-left: 48px;
    border-radius: 44px;
    background: var(--yellow);
}
.firstAbout__title{
    min-width: 424px;
    display: flex;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 0;
    font-size: 64px;
    font-weight: 800;
    line-height: 77px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #fff;
    height: max-content;
}
.firstAbout__text
{
    width: 400px;
    margin-left: 71px;
    margin-top: 27px;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.02em;
    text-align: left;

}
.firstAbout__container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin-left: 0;
    background: #ECECEC;

}
.firstAbout__list{
    margin-top: 33px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.firstAbout__subtitle{
    margin-right: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.firstAbout__subtitle-img{
    width: 60px;
    height: 60px;
    background-image: url("../../images/icon.svg");
    margin-right: 11px;
}
.firstAbout__subtitle-text{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    width: 296px;
    letter-spacing: -0.02em;
    text-align: left;

}
.firstAbout__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 46px;
    margin-left: 55px;
    width: 625px;
    height: 147px;
    background: #ECECEC;
    border-radius: 15px;
    box-shadow: 0px 4px 25px 0px #00000059;

}
.firstAbout__form-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.firstAbout__form-text{
    display: flex;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
}
.firstAbout__form-input{
    display: flex;
    width: 294px;
    height: 58px;
    border: none;
    border-radius: 39px;
    padding: 0 0 0 29px;
    margin: 14px 16px 30px 24px;
}
.firstAbout__form-button{
    margin-top: 14px;
    margin-right: 18px;
    padding-top: 0px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 261px;
    height: 58px;
    background: var(--yellow);
    box-shadow: 0 8px 8px 0 #dece40;
    border-radius: 25px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    transition: background-color 0.3s ease; /* Измените transition на background-color */
}

.firstAbout__form-button:hover {
    background-color: #dece40; /* Затемненный цвет фона при наведении */
}
.firstAbout__form-span {
    font-weight: 800;
}

.firstAbout__points{
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-direction: row;
    top:480px;
    left:0;
    width: 100%;
    max-height: 218px;
    border-radius: 109px;
    box-shadow: 2px 10px 30px 10px #00000026;
}

.firstAbout__points-item{
    padding: 0;
    margin: 45px auto 50px auto;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 130px;
}
.points__text{
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.02em;
    text-align: left;
    margin: 0;

}
.points__img1{
    width: 42px;
    height: 50px;
    margin-bottom: 8px;
    background-image: url("../../images/icon 1.svg");
}
.points__img2{
    width: 42px;
    height: 42px;
    margin-bottom: 8px;
    background-image: url("../../images/icon 2.svg");
}
.points__img3{
    width: 42px;
    height: 42px;
    margin-bottom: 8px;
    background-image: url("../../images/icon 3.svg");
}
.points__img4{
    width: 40px;
    height: 48px;
    margin-bottom: 8px;
    background-image: url("../../images/icon 4.svg");
}
.backgroundImage1{
    background-image: url("../../images/bg.png");
}
.backgroundImage2{
    background-image: url("../../images/bg (1).png");
}
.backgroundImage3{
    background-image: url("../../images/bg (2).png");
}
.backgroundImage4{
    background-image: url("../../images/bg (3).png");
}
.backgroundImage4{
    background-image: url("../../images/bg (3).png");
}
.backgroundImage5{
    background-image: url("../../images/bg (4).png");
}
.backgroundImage6{
    background-image: url("../../images/bg (5).png");
}

@media screen and (max-width: 1140px) {
    .firstAbout__title{
        width: 80%;
    }
    .firstAbout__subtitle{
        width: 80%;
    }
    .firstAbout__form{
        width: 80vw;
    }
    .firstAbout__form-button{
        width: 50%;
    }
    .firstAbout__form-input{
        width: 50%;
    }
    .firstAbout__container{
        width: 100%;
    }
}
@media screen and (max-width: 800px) {

    .firstAbout__points{
        top:350px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        height: 400px;
        max-height: 400px;
        border-radius: 25px;
    }
    .firstAbout__form{
        width: 80vw;
        font-size: 14px;
    }
    .firstAbout__form-button{
        padding: 0;
        font-size: 14px;
        width: 50%;
    }
    .firstAbout__form-input{
        padding: 0;
        width: 50%;
    }
    .firstAbout__points-item{
        margin-bottom: 0;
    }
    .firstAbout{
        height: 600px;
        background-position: center;
    }
    .firstAbout__list{
        flex-direction: column;
    }

}
@media screen and (max-width: 550px) {
    .firstAbout__points{
        grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
        padding-top: 30px;
        border-radius: 25px;
        min-height: 600px;
    }
    .firstAbout__subtitle-img{
        margin-right: 20px;
        background-position: center;
    }
    .firstAbout__list{
        width: 100%;
        align-items: center;
        margin-top: 30px;
    }
    .firstAbout__title{
        min-width: 0;
        font-size: 40px;
    }
    .firstAbout__title-container{
        margin: 0 auto;
        width: 80%;
    }
    .firstAbout__points-item{
        align-items: center;
        width: 80%;
        height: max-content;
        margin-top: 0;
        text-align: center;
    }
    .pointsAbout__text{
        width: 70%;
        font-size: 20px;
        text-align: center;
    }
    .firstAbout__text{
        width: 80%;
        margin: 30px auto;
    }
}